<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <div class="container">
    <h1><i class="fa fa-pencil-square-o"></i></h1>

    <h1>CloudTest</h1>
    <hr>
    <p>Бесплатная платформа для создания и проведения тестов</p>
  </div>
</div><!-- /headerwrap -->


<!-- container -->




<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="reviews" name="reviews">
  <br>

  <div class="row white centered">
    <h1 class="centered">MEET OUR AWESOME TEAM</h1>
    <hr>
    <br>
    <br>

    <div class="col-lg-3 centered">
      <%= image_tag "application/team/team01.jpg", class: "img img-circle", height: "120px", width: "120px" %>

      <br>
      <h4><b>Сергей Владисславский</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>

      <p>Я провожу очень много тренингов и часто приходится проверять знания путем проведения тестов.
        CloudTest очень помогает мне в составлении и проверке тестов. Спасибо, за то что сделали такую платформу!
      </p>
    </div>
    <!-- col-lg-3 -->

    <div class="col-lg-3 centered">
      <%= image_tag "application/team/team02.jpg", class: "img img-circle", height: "120px", width: "120px" %>

      <br>
      <h4><b>Сергей Петрович</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>

      <p>Я занимаюсь репетиторством и у меня очень много учеников. Порой проверка знаний путем продения тестов занимает
        очень много времени</p>
    </div>
    <!-- col-lg-3 -->

    <div class="col-lg-3 centered">
      <%= image_tag "application/team/team03.jpg", class: "img img-circle", height: "120px", width: "120px" %>
      <br>
      <h4><b>Michele Lampa</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>

      <p>Я провожу курсы по программированию и CloudTest очень облегчил проверку знаний у моих слушателей. Спасибо
        разработчикам PrivateTest!</p>
    </div>
    <!-- col-lg-3 -->

    <div class="col-lg-3 centered">
      <%= image_tag "application/team/team04.jpg", class: "img img-circle", height: "120px", width: "120px" %>
      <br>
      <h4><b>Jaye Smith</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>

      <p>Я семейный консультант и CloudTest помогает собирать мне информацию о моих клиентах и помогать им решать сои
        проблемы.</p>
    </div>
    <!-- col-lg-3 -->

  </div>
  <!-- row -->
</div><!-- container -->

<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
  <div class="container" id="contact" name="contact">
    <div class="row">
      <div class="col-lg-8 centered">
        <%= image_tag "application/macbook.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-4">
        <h2>У вас новые идеи или пожелания?</h2>

        <p>Напишите нам. Мы всегда готовы двигаться в будущее.</p>

        <p><a class="btn btn-success">Написать нам</a></p>
      </div>
    </div>
    <!-- row -->
  </div>
  <br>
  <br>
</div><!-- greywrap -->
